@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

*{
    box-sizing: border-box;
}

body{    
    font-family: "Roboto", sans-serif;
    margin: 0;
}

.container{
    padding: 0.5rem;
    margin: 0 auto;
    width: 1000px;
    max-width: 100%;
}

.header-text{
    font-weight: bold;
    text-align: center;
}

h1{
    display: flex;    
    align-items: center;
    justify-content: center;
}

h1{
    margin: 0;
}

.icon{
    font-size: 4rem;
    margin-right: 1rem;
    margin-bottom: 0;
}

nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 1rem;
    margin: 2rem 0 3rem;
    list-style-type: none;    
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
}

nav ul a{
    color: black;
    margin: 1px;
    text-decoration: none;
}

.row{
    display: flex;
}

.col{
    flex: 1;
    padding: 1rem;
    line-height: 1.5;
    letter-spacing: 1px;    
}

.col:not(:last-child){
    border-right: 2px solid gray;
}

img{
    max-width: 100%;
}

@media screen and (max-width:768px) {
    .row{
        flex-direction: column;
    }

    .col{
        padding: 1.25rem;
    }

    .col:not(:last-child){
        border-right: none;
    }

}

